# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
*.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
.swiftpm

.build/

# Node.js
node_modules
Tests/**/node_modules

# carton
static
static.zip
.git
Tests/**/Bundle
Tests/**/.build

# macOS
.DS_Store

# Homebrew
*.bottle.tar.gz
